
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategori Ekleme Sayfası</h2>
<form method="post">@*bu methodu eklemeyince httpost attribute'üne ait method çalışmaz!*@
    <label>Kategori Adı</label>
    <input type="text" class="form-control" name="CategoryName" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>
