@using ResumeProject.Models
@model List<TblCategory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategori Listesi</h2>

<table class="table table-bordered">
    <tr>
        <td>#</td>
        <td>Kategori Adı</td>
        <td>Sil</td>
        <td>Güncelle</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-outline-primary">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Category/AddCategory/" class="btn btn-outline-success">Yeni Kategori Girişi</a>

