@using ResumeProject.Models
@model List<TblContact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İletişim Bilgileri Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Mesajı Aç</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactID</td>
            <td>@item.NameSurname</td>
            <td>@item.TblCategory.CategoryName</td>@*Bu tblcategory tablosu ile ilişkili olduğunda o tablodaki veriyi şimdi çağırıyorum.*@
            <td>@item.Date</td>
            <td><a href="#"class="btn btn-outline-danger">Sil</a></td>
            <td><a href="#"class="btn btn-outline-primary">Güncelle</a></td>
            <td><a href="#"class="btn btn-outline-secondary">Mesajı Aç</a></td>
        </tr>
    }
</table>
<a href="#" class="btn btn-success">Yeni İletişim Bilgisi Ekle</a>

