@model ResumeProject.Models.TblTechnology
@{
    ViewBag.Title = "UpdateTechnology";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Teknoloji Güncelleme Sayfası</h2>

<form method="post">
    <label>Yetenek ID</label>
    @Html.TextBoxFor(x=>x.TechnologyID , new {@class="form-control" , @readonly="readonly"}) @*readonly özelliği textbox'a değer set edilememesi için kullanılır!*@
    <br />
    <label>Yetenek Başlığı</label>
    @Html.TextBoxFor(x=>x.TechnologyTitle, new { @class = "form-control" })
    <br />
    <label>Yetenek Değeri</label>
    @Html.TextBoxFor(x=>x.TechnologyValue, new{@class="form-control" })
    <button class="btn btn-info">Verileri Güncelle</button>
</form>

