@model List<ResumeProject.Models.TblProfile>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Profil Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Profil Başlığı</th>
        <th>Ad</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProfileID</td>
            <td>@item.ProfileTitle</td>
            <td>@item.Name</td>
            <td>@item.Mail</td>
            <td><a href="/Profile/DeleteProfile/@item.ProfileID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Profile/UpdateProfile/@item.ProfileID" class="btn btn-outline-secondary">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Profile/AddProfile/" class="btn btn-primary">Yeni Profil Ekle</a>

